<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roku content proto</title>

    <!-- this has to be a css file -->
    <link rel="stylesheet" href="css/master.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <main id="page">
        <h1 class="hidden"></h1>

        <header>
        <h2 class="hidden"></h2>

        <img src="images/roku.svg" alt="roku logo" id="topLogo">
        <img src="images/userprofilepic.jpg" alt="profile pic" id="profilepic">

        <nav class="main-nav">
            <ul>
            <li class="nav-item"><a href="index.html">Home</a></li>
            <li class="nav-item"><a href="signin.html">Switch Account</a></li>
            <li class="nav-item"><a href="#">Settings</a></li>
            <li class="nav-item"><a href="#">Support</a></li>
            </ul>
        </nav>
        </header>

        <div v-for="item, index in content">
            <img :src='"images/" + item.rgthumbnail' :alt='item.rgName' id="landingPageImage">
        </div>

    <footer>
        <img src="images/rokufooter.png" alt="footer roku logo" id="botLogo">

        <div v-for="item, index in social">
            <a :href='item.socialurl'><img :src='"images/" + item.socialImage' :alt='item.socialAlt' id="socialicon"></a>
        </div>

        <p>@2020 Roku Inc. All rights Reserved</p>

    </footer>
    </main>

    

    <script type="module" src="js/main.js"></script>
</body>

</html>