<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roku kids proto</title>

    <!-- this has to be a css file -->
    <link rel="stylesheet" href="css/master.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <main id="page"> 
        <h1 class="hidden"></h1>

        <header>
        <h2 class="hidden"></h2>

        <img src="images/rokukids.png" alt="roku logo" id="topLogo">
        <img src="images/kidprofilepic.png" alt="kids profile pic" id="profilepic">

        <nav class="main-nav">
            <ul>
            <li class="nav-item"><a href="index.html">Home</a></li>
            <li class="nav-item"><a href="login.html">Switch Account</a></li>
            <li class="nav-item"><a href="#">Settings</a></li>
            </ul>
        </nav>
        </header>

        <div id="movies"><img src="images/cameraicon.png" alt="icon of a camera" id="cammeraicon"></div>
        <div id="music"><img src="images/musicicon.png" alt="icon of a music note" id="musicicon"></div>
        <div id="tv"><img src="images/tvicon.png" alt="icon of a tv" id="tvicon"></div>

        <kidbuttoncomponent v-for="item in kidcontent" :item="item" :key="item.id" @setmediatype="setComponent"></kidbuttoncomponent>

        <lightbox :item="currentItem" :mediaType="mediaType"></lightbox>

    <footer id="kidsfooter">
        <img src="images/rokukidsfoot.png" alt="footer roku kids logo" id="botLogo">

        <div v-for="item, index in kidsocial">
            <a :href='item.kidsocialurl'><img :src='"images/" + item.kidsocialImage' :alt='item.kidsocialAlt' id="socialicon"></a>
        </div>

        <p>@2020 Roku Inc. All rights Reserved</p>

    </footer>
    </main>

    

    <script type="module" src="js/main.js"></script>
</body>

</html>